@media(max-width:320px){
    .container {
        display: grid;
        grid-template-columns: 0.3fr 1.6fr;
        grid-template-rows: 0.2fr 1.7fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:"aside header" "aside Main";
    }

    .header{
        width: 320px;
    }

    .clik:checked + .aside{
        display: none;    
    }

    .clik:checked + .aside ~.header{
        position: absolute;
    }

    .logo{
        width: 70%;
    }
    
    .logout{
        font-size: 0.7em;
    }
    
    .aside{
        font-size: 1em;       
    }
    

        
}