*{
    margin: 0px;
}
header{
    background-color: #69BF97;
    height: 200px;
    font-size: 3em;
    font-family: 'Dosis', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body{
    font-family: 'Playfair Display', serif;
}